<!--<div class="row" style="margin-bottom: 10px">
    <div class="form-group">
        <label for="selectUser" class="col-md-2 control-label text-right" style="line-height: 32px">Selected User:</label>
        <div class="col-md-9">
            <select class="form-control" ng-options="user for users in users" ng-model="selectedUser">
                <option selected>Please select a User ...</option>
            </select>
            <select class="form-control" id="selectUser">
                <option value="" selected>Please select a User ...</option>
                <option ng-repeat="user user in users">{{user.firstname + ' ' + user.lastname }}</option>
            </select>
        </div>
    </div>
</div>-->