<div class="container">
    <div class="row">
        <div class="list-group col-md-4">
            <div ng-repeat="entry in entries | orderBy : 'created' : true">
                <a ng-click="setDetailedEntry(entry)" class="list-group-item" href="">
                    {{entry.title}} <span class="pull-right">{{ entry.created | date: 'dd.MM.yy' }}</span>
                </a>
            </div>
        </div>
        <div class="panel panel-default col-md-8" ng-hide="detailedEntry === undefined">
            <div class="panel-body">
                <div class="row">
                    <h3 class="col-md-12">{{ detailedEntry.title }} <small class="pull-right">{{ detailedEntry.created | date: 'dd.MM.yy' }}</small></h3>
                </div>
                <div class="row">
                    <p class="col-md-12">{{ detailedEntry.message }}</p>
                </div>
                <div class="row">
                    <button type="button" class="btn btn-default col-md-2 col-md-offset-8">Bearbeiten <span class="glyphicon glyphicon-edit"></span></button>
                    <button type="button" class="btn btn-default col-md-2">Löschen <span class="glyphicon glyphicon-remove"></span></button>
                </div>
            </div>
        </div>
    </div>
</div>