<div class="container-fluid">
    <div class="row">
        <div class="col-md-offset-4 col-md-4">
            <form form-role="form" name="changePasswordForm" ng-submit="changePassword()" class="form-horizontal">
                <div class="panel panel-wd col-md-12">
                    <div class="panel-body">
                        <div class="row" style="margin-bottom: 10px;">
                            <i class="fa fa-key fa-4x pull-right"></i>
                            <h3>Change your Password</h3>
                        </div>
                        <div class="row">
                            <div class="form-group">
                                <label for="inputOldPassword" class="control-label sr-only">Altes Passwort:</label>
                                <div class="col-md-offset-1 col-md-10">
                                    <input type="password" ng-model="passwords.oldPassword" class="form-control" id="inputOldPassword" placeholder="Altes Passwort eintragen">
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="form-group">
                                <label for="inputNewPassword" class="control-label sr-only">Neues Passwort:</label>
                                <div class="col-md-offset-1 col-md-10">
                                    <input type="password" ng-model="passwords.newPassword" class="form-control" id="inputNewPassword" placeholder="Neues Passwort eintragen">
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="form-group">
                                <label for="inputRepeatPassword" class="control-label sr-only">Neues Passwort wiederholen:</label>
                                <div class="col-md-offset-1 col-md-10">
                                    <input type="password" ng-model="passwords.repeatedPassword" class="form-control" id="inputRepeatPassword" placeholder="Passwort wiederholen">
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-12">
                                <div ng-bind-html="alertPasswordChange"></div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="form-group">
                                <button type="submit" class="btn btn-success col-md-offset-1 col-md-10">Submit</button>
                            </div>
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>