@import "base";
@import "compass";


h1, h2, h3, h4, h5, h6 {
  font-family: 'Kaushan Script', cursive;
}

$grey-light: lighten($grey, 20%);

body {
  background-color: $grey-light;
}

body.modal-open {
  padding-right: 0px !important;
}

.modal {
  overflow: hidden;
}

#content {
  margin: 120px 0px 0px 350px;
  padding: 20px;
}

.full-height {
  height: 100%
}



/*
// btn mixin, for quick creation of a new colored Button
@mixin btn($baseColor, $fontColor){
  $darkColor: darken($baseColor, 10%);
  $darkerColor: darken($darkColor, 10%);

  background-color: $baseColor;
  box-shadow: 0px 5px 0px $darkerColor;
  border: 0;
  color: $fontColor;
  text-align: center;
  border-radius: 3px;
  font-size: 17px;
  padding: 10px 30px;
  display:block;
  outline: 0;
  margin-right: 5px;
  vertical-align: middle;
  &:hover {
    color: $fontColor;
    background: $darkColor;
    box-shadow: 0px 5px 0px $darkerColor;
  }
  &:active {
    color: $fontColor;
    box-shadow: none;
    margin-top: 5px;
  }
};

// Buttons

.btn-default {
  $borderColor: darken($btn-default-bg, 10%);
  @include btn($btn-default-bg, $btn-default-color);
  border: 1px solid $borderColor;
}

.btn-group {
  .btn-default {
    margin-bottom: 10px !important;
  }
}

  .btn-primary {
    @include btn($btn-primary-bg, $btn-primary-color);
  }

  .btn-success {
    @include btn($btn-success-bg, $btn-success-color);
  }

  .btn-danger {
    @include btn($btn-danger-bg, $btn-danger-color);
  }

  .btn-info {
    @include btn($btn-info-bg, $btn-info-color);
  }
*/
  .list-group-item {
    $clearGray: darken($grey, 10%);
    background-color: $clearBlue;
    color: $black;
    box-shadow: 4px 2px 10px $black;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    border-radius: 10px;
    border: 1px solid $clearGray;
  }


  /* wd stands for working diary */

  .panel.panel-wd {
    @extend .panel-default;
    $clearGray: darken($grey, 10%);
    background-color: $clearBlue;
    color: $black;
    border: 1px solid $clearGray;
    box-shadow: 3px 3px 10px $black;

    .panel-heading {
      @extend .panel.panel-wd;
      background-color: darken($clearBlue, 10%);
      box-shadow: none;
      border: none;
      margin-bottom: 5px;
      h2.panel-title {
        font-size: 30px !important;
      }
    }
  }

  .modal-body, .modal-content {
    $clearGray: darken($grey, 10%);
    background-color: $clearBlue;
    color: $black;
    border: 1px solid $clearGray;
  }

  .modal-dialog {
    z-index: 1040 !important;

    h1, h2, h3, h4, h5, h6 {
      font-family: 'Roboto', sans-serif;
    }

    .modal-header {
      border: none;
    }
    .modal-body {
      @extend .modal-header;
    }
    .modal-footer {
      @extend .modal-header;
    }


    .modal-xs {
      @extend .modal-dialog;
    }

    .modal-sm {
      @extend .modal-dialog;
    }

    .modal-md {
      @extend .modal-dialog;
    }

    .modal-lg {
      @extend .modal-dialog;
    }
  }

a.navbar-brand {
  display: inline-block !important;
  img {
    width: 80px !important;
    margin-right: 5px;
    position: relative;
    bottom: 25px;
  }
}

span.brand-text {
  margin: $navbar-padding-horizontal;
}

.competence-area-item {
}

.competence-item {
  background-color: $grey;
  color: $black !important;
}

.vertical-center {
  min-height: 100%;  /* Fallback for browsers do NOT support vh unit */
  min-height: 100vh; /* These two lines are counted as one :-)       */
  display: flex;
  align-items: center;
}

.ng-hide-add, .ng-hide-remove {
  display: block !important;
}

.login-slide {
    -webkit-transition:all cubic-bezier(0.250, 0.460, 0.450, 0.940) 2s;
    -moz-transition:all cubic-bezier(0.250, 0.460, 0.450, 0.940) 2s;
    -o-transition:all cubic-bezier(0.250, 0.460, 0.450, 0.940) 2s;
    transition:all cubic-bezier(0.250, 0.460, 0.450, 0.940) 2s;
    opacity:1;
    background: $grey-light;
    position: absolute;
    margin: auto;
    top: 0;
    left: 0; bottom: 0; right: 0;
}

.login-slide.ng-hide {
  top: -100%;
  opacity:0;
}


.content-slide {
  -webkit-transition:all cubic-bezier(0.250, 0.460, 0.450, 0.940) 2s;
  -moz-transition:all cubic-bezier(0.250, 0.460, 0.450, 0.940) 2s;
  -o-transition:all cubic-bezier(0.250, 0.460, 0.450, 0.940) 2s;
  transition:all cubic-bezier(0.250, 0.460, 0.450, 0.940) 2s;
  position: absolute;
  bottom: 0;
}

.login-slide.ng-hide {
  bottom: -100%;
}

button {
  i.fa {
    vertical-align: baseline;
    padding-left: 5px;
    padding-right: 5px;
  }
}

input {
  i.fa {
    vertical-align: baseline;
    padding-left: 5px;
    padding-right: 5px
  }
}

div.modal {
  margin-right: -15px !important;
}

.content {
  margin-top: 20px;
}

.panel-wd {
  height: 100%;
}


table {
  thead {
    tr {
      th {
        text-align: center;
        border-color: white;
      }
    }
  }
  tbody {
    tr {
      td {
        text-align: center;
        vertical-align: middle;
        border-color: white;
      }
    }
  }
}
