<!--<button type="button" class="btn btn-primary" data-toggle="modal" data-target=".bs-example-modal-md" data-keyboard="false" data-backdrop="static">Small modal</button>

<div class="modal fade bs-example-modal-md" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-md">
        <div class="modal-content">
            <h2 class="col-md-offset-2">Welcome! <small>Please Sign in.</small></h2>
            <form form-role="form" ng-submit="signIn()" class="form-horizontal">
                <div class="row">
                    <div class="form-group">
                        <label for="inputUsername" class="control-label sr-only">Benutzername:</label>
                        <div class="col-md-offset-2 col-md-8">
                            <input type="text" ng-model="user.username" class="form-control" id="inputUsername" placeholder="Username">
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="form-group">
                        <label for="inputPassword" class="control-label sr-only">Passwort:</label>
                        <div class="col-md-offset-2 col-md-8">
                            <input type="password" ng-model="user.password" class="form-control" id="inputPassword" placeholder="Password">
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="form-group">
                        <button type="submit" class="btn btn-primary col-md-offset-8 col-md-2">Sign In</button>
                    </div>
                </div>
            </form>
            <div class="alert"></div>
        </div>
    </div>
</div>-->